.map-container {
  z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 20px;
  }
  
  .map-frame {
    z-index: 2;
    border: 2px solid black;
    margin-top: 10%;
    height: 90%;
  }
  
  #map {
    z-index: 2;
    height: 100%;
  }
  .test{
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
  }
  .mat-list-item {
    float: right;
  }

  .mat-toolbar{
    z-index: 3;
    height: 10%;
  }

  .checkbox-container{
    z-index: 3;
    position: absolute;
    background-color: white;
    bottom: 10%;
    width: 80%;
  }
  .mat-radio-button{
    margin-left: 10px;
  }

  .echelle-container{
    z-index: 3;
    position: absolute;
    background-color: white;
    width: 80%;
    display: flex;
    bottom: 20%;
    text-align: center;
  }
  .elementEchelle{
    margin : 0 auto;
    width: 11%;
    height: 100%;
  }