.map-container {
  z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    z-index: 2;
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    z-index: 2;
    height: 100%;
  }

  .checkbox-container{
    z-index: 3;
    position: absolute;
    background-color: white;
    margin: 30px;
    bottom: 0;
    left: 0;
    right: 0;
  }